.root {
    -fx-background-color: #d59ca8;
    -fx-font-size: 12px;
}

/*
I vboxen funkar all kod
*/
.vbox {
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 5;
}

.vboxName {
    -fx-font-style: oblique;
}

.vboxImage {
    -fx-border-color: #000000;
    -fx-border-width: 2px;
}

.vboxSpell {
    -fx-border-color: #000000;
    -fx-font-weight: lighter;
    -fx-border-width: 1px;
    -fx-spacing: 5;
    -fx-padding: 2;
}

.vboxDummy {
    -fx-border-color: #000000;
    -fx-border-width: 2px;
}

.vboxGlow {
    -fx-border-color: #28f33d;
    -fx-border-width: 2px;
    -fx-background-color: #d59ca8;
}